@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: center;
  background: #efefef;
  font-family: Consolas;
  min-height: 800px;
}

.drop-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.file-folder-tabs {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px 0;
}

.react-tabs__tab {
  background: #efefef;
  cursor: pointer;
  padding: 10px;
}

.react-tabs__tab:hover {
  background: #ddd;
}

.react-tabs__tab--selected {
  background: #ddd;
}

.dir-container {
  padding: 10px 0 30px 0;
}

.dir-input {
  font-family: Consolas;
  font-size: 14px;
  padding: 7px;
  width: 500px;
}

.dir-submit {
  background: #ddd;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-family: Consolas;
  font-size: 12px;
  margin-left: 20px;
}

.drop-button {
  display: flex;
  margin-left: 20px;
}

.ll-button {
  font-family: Consolas;
  background: #efefef;
  border: none;
  padding: 8px;
  font-size: 13px;
}

.days {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day {
  cursor: pointer;
  flex: 0 1 100px;
  padding: 20px 0;
  padding: 20px 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
}

.day-date {
  font-size: 25px;
}

.day-year {
  margin-left: 5px;
}

.selected-day {
  background: #ddd;
}

.day:hover {
  background: #efefef;
}

.raw-logs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: baseline;
  justify-content: flex-start;

  margin: 0 0 0 10%;
  overflow: scroll;
  width: 89%;
}

.log {
  align-items: center;
  display: flex;

  border-bottom: 1px solid #ddd;
  font-family: Consolas;
  font-size: 14px;
  margin-bottom: 1px;
  white-space: nowrap;
  width: 100%;
}

.log--error {
  color: #f00;
}

.log__msg {
  background: #f5f5f5;
  color: #333;
  padding: 7px;
}

.log--error .log__msg {
  color: #f00;
}

.log__time {
  padding: 0 20px 0 0;
}

.version-select-container {
  padding: 5px 0 20px 0;
}

.version-select {
  background: none;
  border: 1px solid #ddd;
  box-sizing: content-box;
  font-size: 14px;
  height: 30px;
  padding: 20px;
}

.version-btn {
  margin-left: 20px;
}

.details-tabs {
  display: flex;
  list-style: none;
  justify-content: center;
}

.task__uploaded__time {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
