body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
	background: url('./wonder-woman.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  background-color: #ff980069;
  backdrop-filter: blur(10px);
	height: 250px;
  width: 100%;
}

.main {
  background: #fff;
  border-radius: 5px;
  height: 100%;
	position: relative;
  margin: 0 auto;
  top: -25px;
  width: 90%;
}

.hero-title {
  font-family: Pacifico, cursive;
  font-size: 3.4em;
  color: #ffd700;
  top: 46px;
  position: relative;
  width: 400px;
  left: 278px;
  font-weight: bold;
}