.timeline {
	display: flex;
  flex-direction: row;
	font-family: Consolas;
}

.timeline__view {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.timeline__sidebar {
	flex: 0 0 500px;
  background: #eee;
  padding: 10px 20px;
}

.timeline__list {
  display: flex;
  flex-direction: column;
	width: 90%;
}

.timeline__item {
  border-top: 1px solid #ccc;
	flex: 0 80px;
	position: relative;
}

.timeline__hour {
	font-size: 12px;
	left: -40px;
  position: absolute;
  top: -7.5px;
}

.timeline__activity {
	display: flex;
 	flex-direction: column;
}

.timeline__block {
	background: #b3b3b3;
	border-bottom: 0.1px solid #fff;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
  align-items: center;
	min-height: 25px;
  font-size: 14px;
}

.timeline__block:hover {
	background: #848484;
}

.timeline__block--active {
	background: #848484;	
}

.timeline__block--overflow {
	position: relative;
	top: -2px;
}

.timeline__task_view {
	display: flex;
  flex-direction: column;
}

.timeline__task_view .task__timings {
  align-items: center;

	display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  flex: 0 100px;
}

.timeline__task_view .task__uploaded__timings, .timeline__task_view .task__uploaded__popup {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
	width: 85%;
}

.task__uploaded__time {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px 0;
  width: 100%;
}

.task__duration {
  align-items: center;
  background: #00C873;
	display: flex;
  flex: 0 100px;
  justify-content: center;
}

.task__duration__time-container {
	display: flex;
}

.task__duration__time {
  color: #fff;
	font-size: 2em;
  padding: 4px;
}

.timeline__task_view .start-time, .timeline__task_view .end-time {
   display: flex;
	flex-direction: column;
}

.timeline__task_view .start-time__data, .timeline__task_view .end-time__data {
	color: #777;
}

.start-time__humanized {
	font-size: 1.3em;
}

.task__uploaded__header {
	background: #ddd;
	cursor: pointer;
  padding: 8px;
}

.task__uploaded__header:hover {
	background: #ccc;
}

.end-time__date-isafter {
	color: #bd0303 !important; 
	text-decoration: underline;
}

.task__uploaded__graph polyline {
	fill: none !important;
}

.task__uploaded__graph circle {
	cursor: pointer;
	fill-opacity: .3 !important;
}

.task__uploaded__graph circle:hover {
	fill: green !important	;
}

.activity .keyboard-icon {
	background-image: url('./keyboard.svg');
	background-size: 30px;
  background-repeat: no-repeat;
  background-position: -2px 0;
  width: 45px;
  height: 43px;
}

.activity .keyboard-icon, .activity .click-icon, .activity .mouse-icon {
	background-image: url('./keyboard.svg');
	background-size: 35px;
  background-repeat: no-repeat;
  background-position: -2px 0;
  width: 45px;
  height: 30px;
}

.activity .click-icon {
	background-image: url('./click.svg');
	background-size: 22px;
	height: 28px;
}

.activity .mouse-icon {
 	background-image: url('./mouse.svg');
 	background-size: 22px;
}

.activity-container {
	position: absolute;
  right: -60px;
  top: 0;
  width: 60px;
}

.activity-container .activity {
	display: flex;
  align-items: center;
  color: #777;
  font-size: 14px;
}

.task__uploaded__graph__popup {
	position: relative;
	padding: 15px 0;
}

.activity-container .activity-factor {
	font-size: 12px;
}

.popup-time-container {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.task-screenshot {
	display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.task-screenshot .screenshot-box {
	background: #ccc;
  width: 100px;
  height: 50px;
  display: block;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-activity {
	display: flex;
	align-items: flex-end;
  padding: 0 5px;
}

.screenshot-activity .keyboard-icon {
	background-image: url('./keyboard.svg');
	background-size: 27px;
  background-repeat: no-repeat;
  background-position: -2px 0;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.screenshot-activity .click-icon {
	background-image: url('./click.svg');
	background-size: 18px;
	background-repeat: no-repeat;
  background-position: -2px 0;
  display: flex;
  height: 22px;
  justify-content: center;
  width: 15px;
}

.screenshot-activity .mouse-icon {
	background-image: url('./mouse.svg');
	background-size: 17px;
	background-repeat: no-repeat;
  background-position: -2px 1px;
  display: flex;
  height: 22px;
  justify-content: center;
  width: 15px;
}

.screenshot-activity-container {
	display: flex;
  align-self: center;
  padding: 5px 0;
}

.screenshot-tick {
	background-image: url('./tick.svg');
	background-size: 35px;
	background-repeat: no-repeat;
  background-position: -2px 0;
  height: 30px;
  width: 30px;
}

.task__screenshots {
	 width: 85%;
   margin: 0 auto;
}